@charset "utf-8";

@media (max-width: 1190px ) {
    .header-top {
        /* width: 70%; */
        margin: 0 auto;
    }
    .header-top .content-text {
        width: 260px;
        height: 40px;
    }
    .catch {
        height: 850px;
    }
    .header-top .contact-us {
        font-size: 12px;
        letter-spacing: 0;
    }
    .step-home {
        display: block;
    }
    .courseflow {
        height: 2000px;
    }
    .member-image img {
        position: relative;
        top: 30px;
    }
    .learn-image-all img {
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
    .merit-image {
        padding-left: 10px;
    }
    .merit-image h2 {
        font-size: 18px;
    }
    .why-bangkok {
        padding-left: 100px;
    }
    
}

@media (max-width: 990px) {

    .merit-images {
        display: block;
        width: 800px;
        max-width: calc(100% - 20px);
        margin: 0 auto;

    }
    .merit-image {
        width: 800px;
        max-width: calc(100% - 100px);
        margin: 0 auto;
    }
    .documenmaint {
        font-size: 22px;
    }
    .concept {
        height: 665px;
    }
    .concept h1 {
        font-size: 24px;
        padding: 60px;
    }
    .concept-text::before, .concept-text::after {
        margin: 40px 0 40px 0;
    }
    .concept-text::after {
        margin: 40px 0 40px 0;
    }
    .circle {
        top: 170px;
    }
    .learn-text h2 {
        font-size: 24px;
    }
    .learn-text p {
        font-size: 16px;
    }
    .merit-text p {
        font-size: 16px;
    }
    .merit-text h1 {
    font-size: 24px;
    }
    .merit-text::before, .merit-text::after {
        margin: 50px 0 50px 0;
    }
    .merit-last-text h1 {
        font-size: 24px;
        padding: 20px 0;
    }
    .merit-last-text h3 {
        font-size: 14px;
    }
    .merit-last-text p {
        padding: 10px;
        font-size: 14px;
    }
    .member-images {
        display: block;
    }
    .member-image {
        width: 100%;
        height: auto;
    }
    .member-image-texts {
        width: 90%;
        max-width: calc(100% - 20px);
        height: auto;
        margin: 0 auto;
    }
    .items-all {
        display: inline-block;
        width: 100%;
        text-align: -webkit-center;
    }
    .learn-content {
        height: auto;
    }
    .learn-content .items div {
        margin-bottom: 30px;
    }
    .courseflow {
        height: 2100px;
    }
    .courseflow h1 {
        font-size: 24px;
    }
    .courseflow .border {
        width: 70%;
    }
    .why-bangkok {
        padding-left: 70px;
    }
    .why-bangkok h2 {
        font-size: 16px;
    }
    .why-bangkok p {
        font-size: 12px;
    }
    .why-bangkok ul li {
        font-size: 12px;
        padding-bottom: 10px;
    }
    .benefits .top-text p {
        padding: 0 20px 80px 20px;
    }
    .benefits {
        height: 1300px;
    }
    .benefits .text-list-all {
        display: block;
    }
    .benefits .text-list {
        margin: 0 auto 20px auto;
    }
    .benefits .top-text h1 {
        font-size: 22px;
    }
    .no-volunteer h2 {
        font-size: 24px;
    }
    .no-volunteer p {
        padding: 0 20px 50px 20px;
    }
    .message-list {
        display: block;
    }
    .message-list .image img {
        width: 100%;
        height: auto;
    }
    .message-list p {
        padding: 30px 0 60px 0px;
        font-size: 14px;
    }
    .frequently-asked-questions .menu {
        font-size: 16px;
    }
    .frequently-asked-questions .sentences {
        font-size: 12px;
    }
}

@media (max-width: 841px ) {
    .circle {
        top: 135px;
    }
}
@media (max-width: 817px ) {
    .circle {
        top: 105px;
    }
}
@media (max-width: 787px ) {
        .circle {
            top: 75px;
        }
}

@media (max-width: 767px ) {

    
    .header-top .top-text {
        font-size: 4px;
        position: absolute;
        bottom: 40px;
    }
    header .image {
        padding-top: 30px;
        text-align: left;
    }
    .main-top {
        height: auto;
        padding-top: 100px;
    }
    .header-top .content-text {
        display: none;
    }
    .header-all {
        height: 67px;
    }
    .header-all .content-text2 {
        display: block;
        background-color: #DF7C60;
        line-height: 30px;
        float: right;
    }
    .header-top .hiding {
        display: block;
        text-align: center;
        color: white;
        
    }
    .header-all .fa-file-alt {
        position: relative;
        top: 10px;
    }
    .header-top a {
        display: block;
        color: white;
        font-size: 10px;
        padding: 0 10px;
    }
    .header-all .header-top .image img {
        width: 100px;
        height: 35px;
    }
    .main-top h1 {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .main-top h2 {
        font-size: 16px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }
    .main-contact p {
        font-size: 14px;
        font-weight: bold;
    }
    .documenmaint {
        padding: 10px 100px;
        margin-bottom: 0px;
        margin-top: 20px;
        font-size: 28px;
    }
    .term {
        padding: 20px 0 25px 0;
    }
    .main-contact {
        height: auto;
    }
    .concept h1 {
        font-size: 18px;
        padding: 50px;
    }
    .concept-text::before, .concept-text::after {
        margin: 30px 0 30px 0;
    }
    .concept p {
        font-size: 14px;
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .circle {
        top: 140px;
    }
    .concept p {
        font-size: 14px;
    }
    .concept p {
    font-size: 14px;
    position: relative;
    top: 30px;
    right: 7px;
    }
    .description .description-home {
        padding: 70px;
    }
    .description .description-home::before, .description-home::after {
        margin: 50px 0 50px 0;
    }
    .description-home h1 {
        font-size: 18px;
    }
    .description p {
        font-size: 16px;
    }
    .description-image h2 {
        padding: 20px 0;
        font-size: 18px;
    }
    .group-lesson {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .lesson {
        padding: 10px;
        width: 120px;
        height: auto;
    }
    .description .earn-text {
        font-size: 16px;
    }
    .description p {
        font-size: 10px;
        letter-spacing: 0px;
        font-weight: normal;
    }
    .description-image {
        height: auto;
    }
    .description {
        height: 700px;
    }
    .lesson-icon-free img {
        width: 100px;
        height: 60px;
    }
    .catch-text h1 {
        font-size: 20px;
    }
    .catch-text p {
        font-size: 14px;
    }
    .step-top {
        width: auto;
    }
    .step {
        width: 100%;
    }
    .step p {
        margin-bottom: 16px;
        font-weight: bold;
        padding-bottom: 20px;
    }
    .step {
        height: auto;
    }
    .advice h3 {
        padding: 30px;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .learn-text h2 {
        font-size: 20px;
    }
    .learn-text p {
        font-size: 14px;
    }
    .learn-image-all {
        padding: 0 30px;
    }
    .learn-last-text {
        font-size: 12px;
        padding-bottom: 30px;
    }
    .learn {
        height: auto;
    }
    .merit-text h1 {
        font-size: 18px;
    }
    .merit-text {
        max-width: calc(100% - 30px);
    }
    .merit-image img {
        width: 100%;
        height: 120px;
    }
    .merit-image h2 {
        font-size: 16px;
        padding: 10px 0;
    }
    .merit-image p {
        font-size: 12px;
        padding-bottom: 20px;
    }
    .merit-last-text h1 {
        font-size: 20px;
    }
    .merit-last-text h3 {
        font-size: 12px;
    }
    .merit-last-text p {
        padding: 10px 10px 30px 10px;
        font-size: 10px;
        letter-spacing: 0px;
    }
    .merit-last-text {
        height: auto;
    }
    .merit-text-last {
        font-size: 10px;
    }
    .member-top h1 {
        font-size: 20px;
    }
    .member-top p {
        padding-bottom: 12px;
    }
    .member-image-texts p {
        font-size: 12px;
    }
    .member-image-texts {
        width: 100%;
        max-width: calc(100% - 0px);
    }
    .member-image-texts {
        padding: 40px 10px 20px 10px;
    }
    .member-image img {
        width: 150px;
        height: auto;
    }
    .member .question {
        padding-top: 20px;
        height: auto;
        padding-bottom: 20px;
    }
    .member .question h1 {
        letter-spacing: 1px;
        font-size: 16px;
        max-width: calc(100% - 20px);
    }
    .realization .realization-top h1 {
        font-size: 20px;
    }
    .realization .realization-top .textfirst {
        font-size: 14px;
    }

    .realization .realization-top .textlast {
        font-size: 14px;
    }
    .realization img {
        width: 150px;
        height: auto;
    }
    .realization td {
        font-size: 14px;
    }
    .realization td {
        font-size: 12px;
        padding: 10px 0 0 10px;
    }
    .realization {
        height: auto;
        max-width: calc(100% - 20px);
    }
    .learn-content .learn-content-top h1 {
        font-size: 20px;
        padding: 30px 0 20px 0;
    }
    .learn-content .learn-content-top p {
        padding-bottom: 30px;
        font-size: 14px;
    }
    .learn-content .items .item-list {
        letter-spacing: 1px;
        font-size: 12px;
    }
    .items-all .item-title {
        font-size: 16px;
    }
    .eternal-support-extension p {
        padding: 30px 20px;
        font-size: 16px;
    }
    .eternal-support-extension {
        height: auto;
    }
    .courseflow h1 {
        font-size: 18px;
    }
    .courseflow {
        height: auto;
    }
    .menu-flow .sentences {
        display: none;
    }
    .courseflow-team {
        display: none;
    }
    .courseflow .border {
        display: none;
    }
    .items2 {
        margin-bottom: 10px;
    }
    .items2 .sentences {
        display: none;
    }
    .items2 .menu {
        background-color: #FDF5E0;
        padding: 10px;
        width: 100%;
        text-align: left;
        max-width: calc(100% - 20px);
        margin: 0 auto;
    }
    .items2 .menu img {
        width: 35px;
        height: auto;
        margin: 0 10px;
    }
    .items2 i {
        font-size: 14px;
        font-weight: bold;
        position: relative;
        bottom: 10px;
    }
    .items2 .sentences {
        background-color: #FDF5E0;
        padding: 20px;
        margin: 0 10px 10px 10px;
    }

    .sentences h5 {
        font-size: 12px;
        text-align: left;
        letter-spacing: 0px;
        padding-bottom: 10px;
    }
    .sentences p {
        font-size: 10px;
        letter-spacing: 0px;
        text-align: left;
    }
    .why-bangkok {
        padding-left: 0px;
    }
    .why-bangkok h1 {
        font-size: 20px;
        padding: 40px;
        text-align: center;
    }
    .why-bangkok p {
        padding: 0 20px 20px 20px;
        font-size: 10px;
    }
    .why-bangkok ul li {
        font-size: 10px;
        padding-bottom: 10px;
    }
    .why-bangkok h2 {
        font-size: 12px;
        padding: 20px 20px 30px 20px;
    }
    .benefits {
        height: auto;
        padding-bottom: 20px;
    }
    .benefits .top-text h2 {
        font-size: 20px;
        padding: 50px 0 50px;
    }
    .benefits .top-text p {
        padding: 0 20px 50px 20px;
        font-size: 12px;
    }
    .benefits .top-text h1 {
        font-size: 16px;
    }
    .benefits .text-list-all {
        display: none;
    }
    .text-list2 {
        color: #ebb94d;
        background-color: #fff;
        padding: 0;
        margin-right: 10px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        float: left;
    }
    .text-list-all2 {
        color: #fff;
        margin: 0 15px;
        border: 2px solid;
        padding: 10px;

    }
    .text2 p {
        font-size: 14px;
        padding: 20px;
        overflow: scroll;
    }
    .benefits2 {
        padding: 20px;
    }
    .text-list2 h3 {
        font-size: 14px;
    }
    .no-volunteer h1 {
        font-size: 20px;
        padding: 30px 20px;
    }
    .no-volunteer p {
        font-size: 12px;
        padding: 20px;
    }
    .no-volunteer h2 {
        font-size: 18px;
    }
    .no-volunteer h2 {
        max-width: calc(100% - 20px);
    }
    .no-volunteer h2::before, .no-volunteer h2::after {
        width: 30px;
        height: 30px;
    }
    .message h1 {
        padding: 30px;
        font-size: 20px;
    }
    .message p {
        font-size: 16px;
    }
    .message-list p {
        padding: 30px 0;
        font-size: 10px;
    }
    .contact h1 {
        font-size: 20px;
        padding: 30px 0;
    }
    .contact p {
        font-size: 12px;
    }
    .contact-main .hoge {
        font-size: 12px;
    }
    .contact-main .hoge2 {
        font-size: 12px;
    }
    .frequently-asked-questions h1 {
        font-size: 20px;
        padding: 30px;
    }
    .frequently-asked-questions .menu {
        font-size: 12px;
    }
    .frequently-asked-questions .menu {
        padding: 10px;
    }
    .frequently-asked-questions .sentences {
        font-size: 10px;
    }
    .fa-angle-up:before {
        font-size: 30px;
    }
    .pagetop a {
        width: 40px;
        height: 40px;
    }
    .top-return {
        position: relative;
        top: -10px;
    }
    .foot .foot-smalls {
        padding: 20px 0 20px 0;
    }
    .foot {
        height: auto;
    }
    .foot .foot-smalls p {
        font-size: 10px;
        letter-spacing: 0px;
    }
    .foot-smalls small {
        letter-spacing: 1px;
    }
    .foot-last p {
        font-size: 8px;
        letter-spacing: 0px;
    }
}

@media (max-width: 678px ) {
    .circle {
        top: 110px;
    }
}

@media (max-width: 480px ) {
    .main-top {
        background-size: 150% 100%;
    }
    .main-top h1 {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .main-top img {
        width: 250px;
        height: 100px;
        margin-bottom: 0px;
        padding-bottom: 10px;
    }
    .main-top h2 {
        font-size: 12px;
        padding-bottom: 30px;
    }
    .main-contact p {
        font-size: 12px;
        font-weight: bold;
    }
    .main-contact .contact-us {
        font-size: 16px;
        padding: 20px;
        max-width: calc(100% - 30px);
    }
    .term {
        padding: 20px;
    }
    .concept-text {
        max-width: calc(100% - 20px);
    }
    .concept h1 {
        font-size: 16px;
    }
    .concept p {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .circle {
        top: 120px;
    }
    .description .description-home::before, .description-home::after {
        width: 30px;
        height: 30px;
    }
    .description .description-home {
        padding: 60px;
    }
    .description-home h1 {
        font-size: 16px;
        letter-spacing: 1px;
    }
    .description-image {
        max-width: calc(100% - 20px);
    }
    .description {
        height: auto;
        padding-bottom: 40px;
    }
    .catch-text {
        padding: 30px 0;
    }
    .catch-text h1 {
        padding: 20px;
    }
    .catch-text p {
        font-size: 14px;
        padding: 20px;
    }
    .step-home {
        max-width: calc(100% - 20px);
    }
    .step {
        max-width: calc(100% - 20px);
    }
    .catch {
        height: auto;
        padding-bottom: 40px;
    }
    .advice h3 {
        padding: 20px;
        font-size: 12px;
        letter-spacing: 0px;
    }
    .advice {
        height: auto;
    }
    .learn-text h2 {
        font-size: 18px;
        padding: 40px;
    }
    .learn-image-all img {
        height: auto;
        max-width: 130%;
        max-height: 100%;
    }
    .merit-text::before, .merit-text::after {
        width: 30px;
        height: 30px;
    }
    .merit-text {
        padding: 70px 20px;
    }
    .merit-text h1 {
        font-size: 16px;
    }
    .merit-image h2 {
        font-size: 14px;
    }
    .merit-last-text {
        max-width: calc(100% - 20px);
    }
    .member-top p {
        font-size: 14px;
    }
    .member-images {
        max-width: calc(100% - 30px);
    }
    .member .question h1::before, .member .question h1::after {
        width: 30px;
        height: 30px;
    }
    .member .question h1 {
        font-size: 14px;
        padding: 20px;
    }
    .realization .realization-top h1 {
        padding: 20px 0;
    }
    .realization .realization-top .textlast {
        font-size: 10px;
    }
    .realization img {
        width: 100px;
    }
    .learn-content .learn-content-top h1 {
        font-size: 16px;
    }
    .learn-content .learn-content-top p {
        padding: 0px 10px 20px 10px;
        font-size: 10px;
    }
    .learn-content .items {
        max-width: calc(100% - 20px);
    }
    .items ul {
    padding-inline-start: inherit;
    }
    .eternal-support-extension p {
        font-size: 14px;
    }
    .courseflow .img-top img {
        display: none;
    }
    .courseflow .img-top {
        padding-bottom: 0;
    }
    .why-bangkok {
        background-size: cover;
    }
    .text2 p {
        padding: 10px;
    }
    .benefits2 .sentences1 {
        display: none;
    }
    .no-volunteer {
        background-image: url(https://raw.githubusercontent.com/Messiah-KenTanaka/blackbass/296003d4b81b42c1fbb71d1a46107949b5d9f87a/specialdetailsp.jpg);
    }
    .message-list {
        max-width: calc(100% - 30px);
    }
}
@media (max-width: 350px ) {
    .circle {
        display: none;
    }
}

/*---br管理--*/
/*---スマホ時改行--*/
@media screen and (max-width: 480px) {
    .pc-br{display:none;}
    .tb-br{display:none;}
    .sp-br{display:block;}
    .menu-flow{display:block;}
    }
    /*---タブレット時改行--*/
    @media screen and (max-width: 767px) {
    .pc-br{display:none;}
    .tb-br{display:block;}
    .sp-br{display:block;}
    .menu-flow{display:block;}
    }
    /*---PC時改行--*/
    @media screen and (min-width:768px){
    .pc-br{display:none;}
    .tb-br{display:none;}
    .sp-br{display:none;}
    .menu-flow{display:none;}
    .items2{display: none;}
    .text-list-all2{display: none;}
    }
@media (min-width: 481px ) {
    .benefits2 .sentences2 {
        display: none;
    }
}
